$font-principal: 'Oswald', sans-serif;
$font-secundaria: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;

//FONT SIZE TITLE------------
$fontSize_principal: 65px;
$fontSize_title: 60px;


//FONT SIZE TEXT ------------
$fontSize_paragraph: 16px;
$fontSize_paragraph_med: 14px;
$fontSize_paragraph_min: 10px;


$fontSize_textLg: 20px;
$fontSize-textMd: 17px;
$fontSize-textMdS: 16px;
$spanWidth: 15px;
$fontSize-textSm: 13px;

//FONT WEIGHT------------
$fontWeight-lg: 700;
$fontWeight-md: 400;
